*{
    margin:0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.sec{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.uno{
    background: url(5.jpg);
}